/* Back-To-Top ========================================= */
button#back-to-top {
  position: fixed;
  right: 50px;
  bottom: 0;
  z-index: 100;
  color: var(--color-green);
  background: var(--color-white);
  border-radius: 50%;
  border: 0;
  outline: none;
  transition: all 0.3s ease;
  opacity: 0;
  pointer-events: none;
}

button#back-to-top:hover {
  color: var(--color-white);
  background: var(--color-green);
  pointer-events: auto;
  bottom: 32px;
}

button#back-to-top.active {
  opacity: 1;
}

button#back-to-top i {
  font-size: 50px;
}


